html {
  max-width: 750px;
  margin: auto;
}

header {

  color:black;
}

img.logo {
  width: 30%;
}

h1, h2, h3, p {
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

p {
  font-size: 1.25em;
  line-height:30px;
}


/* The navbar */
nav,
#hamburger-menu {
  display: none;
}

.topnav {
  text-align: right;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
}

nav a, .postTitle {
  text-decoration: none;
  color: black;
  padding: 10px 10px 10px 60px;
  display: block;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
  font-size: 2em;
}

nav a:hover {
  text-decoration: underline;
}

.current {
  font-weight: bold;
}

.hamburger-label {
  float: right;
  color: black;
  padding: 30px;
  font-size: 1.5em;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

/* slider */
.carousel {
  position: relative;
  box-shadow: 0px 1px 6px #40403f;
  margin-top: 26px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: #40403f;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: #40403f;
  color: grey;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  border: #40403f;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}


#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/* blog */
 .pagination {
   text-align: center;
 }


/* form */
.contactUs {
  max-width: 750px;
  margin: auto;
}
.containerNew {
  padding: 16px;
  max-width: 750px;
  margin: auto;
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
}


input[type="text"],
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

input:invalid {
  border: 2px dashed red;
}
.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

button {
  border: 2px solid transparent;
  background: #fcbc5c;
  color: #ffffff;
  font-size: 16px;
  line-height: 15px;
  padding: 5px 0;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  width: 250px;
  margin: 0 auto;
}


@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


/* post */

.postTitle{
  color: #fcbc5c;
}

.details-title {
  margin-bottom: 0.7em;
}

.details-image {
  margin-bottom: 1em;
  height: 290px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.details-genres {
  margin-bottom: 1em;
}








@media only screen and (min-width: 600px) {
    nav {
      display: inline-block;
    }
  
    .hamburger-label {
      display: none;
    }
  
    ul {
      display: flex;
    }
  
    li {
      display: inline-block;
    }
  }